
<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-right">
                <br /><br />
                <p>Tüm Hakları Saklıdır &copy; @DateTime.Now.Year</p>
            </div>
            
        </div>
    </footer>

</div>
